<div class="container">
  <div class="header">
    <app-header (newItemEvent)="getUser($event)"></app-header>
  </div>
  <div class="main" *ngIf="user?.name">
    <div class="profileInfos">
      <img src="{{ user.avatar_url }}" alt="{{ user.name }}" >
      <a href="{{user.html_url}}" target="_blank"><h1 class="usernameProfile">{{user.name}}</h1></a>
      <h2 class="loginProfile" *ngIf="user?.name">@{{ user.login }}</h2>
      <h6 class="bioProfile">{{user.bio}}</h6>
    </div>
    <div class="divFollows">
      <div class="options">

        <button class="buttonOptions">
          <app-repositores 
            title="Repositores"
            [value]="user.public_repos"
          >
          </app-repositores>
        </button>

        <button class="buttonOptions">
          <app-following
            title="Followings"
            [value]="user.following"
          >
          </app-following>
        </button>

        <button class="buttonOptions">
          <app-followers 
            title="Followers"
            [value]="user.followers"
          >
          </app-followers>
        </button>
        
      </div>
    </div>
  </div>
</div>